@model HOTPIZZA.Models.GopYKhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Góp ý</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayGopY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGopY)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Quay về", "Index")
</p>
