@using HOTPIZZA.Models
@{
    ViewBag.Title = "Chitiet";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <div class="col-lg-auto">
        @*<div class="single_product_pics">*@
            @*<div class="row">*@
                 @*<div class="col-lg-9 image_col order-lg-2 order-1">*@
                   
                    @*<div class="single_product_image">*@
                        <div class="single_product_image_background" >
                            <img src="~/images/Menu/@Model.HinhMinhHoa" style="width: 450px; height: 450px; margin: 120px; border-radius: 1px; text-align: center; float: left;"/>
                        </div>
                    </div>
                @*</div>*@
                @*</div>*@
            @*</div>*@
        @*</div>*@

        @*</div>*@
        <div class="col-lg-4" style="margin-top:120px; margin-left:70px">
            <div class="product_details">
                <div class="product_details_title">
                    <h3 style="font-weight:bold;color:lightskyblue"> @Model.TenMon</h3>
                    <p>@Model.MoTa</p>
                </div>

                @*<div class="align-items-center justify-content-center" style="border-color:#808080; border:20px;">*@
                <div style=" background:#e1e1e1; text-align:center">
                    <span><img src="~/images/truck.png">Miễn phí giao hàng</span>
                </div>


                <div class="product_price">
                    <p style="text-align:left;margin-left:10px; color:red; font-size:20px">@String.Format("{0:#,##0} VNĐ", @Model.DonGia)</p>
                </div>
                <ul class="star_rating" style=" color: #ffd800;">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>

                <a href="@Url.Action("ThemGioHang", "GioHang", new { IdMon = @Model.IdMon})">Đặt Món</a>

            </div>
                @*@using (@Html.BeginForm("ThemGioHang", "GioHang", new { @IdMon = @Model.IdMon, @strURL = Request.Url.ToString() }))
                {
                    <input style="color: red; font-weight: bold" type="submit" value="Mua hàng" />
                }*@
           
        </div>
    </div>


