@model HOTPIZZA.Models.DonDatHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TriGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TriGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoaiNguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoaiNguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.HovaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.HovaTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangDonHang1.tenTTDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangDonHang1.tenTTDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhThucThanhToan1.tenHTTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhThucThanhToan1.tenHTTT)
        </dd>
        <dt>
            Chi Tiết Món
        </dt>

        <dd>
            @Html.ActionLink("Chi Tiết Món", "Detailss", new { id = Model.MaDon })
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaDon }) |
    @Html.ActionLink("Quay về danh sách", "Index")
</p>
